

div {
    font-family: Inter-Regular;
}div{
  font-family: Inter-Regular;
}
#sidebar {
  position: fixed;
  width: 250px;
  height: 100%;
  background: var(--color-lightblue);
  padding-top: 20px;
  color: var(--color-blue);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: -25px;
  z-index: 1000;
  width: 200px;
}

#sidebar .containerFunc,
.containerSetting {
  width: 100%;
}
#sidebar a,p {
  width: 100%;
  text-decoration: none;
  padding: 10px 8px;
  display: block;
  transition: 0.3s;
  margin-left: 0;
  color: var(--color-blue);
}
#sidebar p {
  margin: 0;
}
.containerSetting {
  margin-top: auto;
  display: flex;
  flex-direction: column-reverse;
}
#sidebar .submenu {
  display: none;
  margin-left: 20px;
  transition: all 0.5s ease-in-out;
}
#sidebar .menuActive {
  display: block;
  cursor: pointer;
}
/* #sidebar .menuActive.active + .submenu {
  display: block;
} */
#sidebar a:hover {
  background: var(--color-white);
}
#sidebar p:hover {
  background: var(--color-white);
}
#sidebar .menuActive.active + .submenu {
  display: block;
}
#sidebar .toggle-icon{
display: none;
}
.logo {
margin-bottom: auto; 
}
@media screen and (max-width: 480px) {
#sidebar {
  width: 100%;
  height: auto;
  display: flexbox;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px; 
  margin-top: -8px
}
.containerSetting {
  margin-top: auto;
  display: flex;
  flex-direction: column;
}
#sidebar .containerFunc {
  display: none;
}
#sidebar #toggle-icon {
  order: -1;
}
#sidebar .setting-icon {
  order: 2; 
}
#sidebar #toggle-icon {
  display: inline-block;
  cursor: pointer;
}
#sidebar.active .containerFunc,
#sidebar.active .containerSetting {
  display: flex;
  flex-direction: column;
}
#sidebar.active .menuActive {
  width: 100%;
}
#sidebar.active a, #sidebar.active p {
  width: 100%;
}
}