<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">

<div class="fullpage">
    <h3 class="h3">Mã giảm giá</h3>
    <button type="button" [routerLink]="['/createmgg']">+ Thêm mã giảm giá mới</button>
    <br>
    <div class="container">
        <div class="container_item">
            <div class="tieude">
                <h4 class="h4" (click)="showContent('tat-ca-ma-giam-gia')" [ngClass]="{ 'selected': selectedbar === 'tat-ca-ma-giam-gia' }">Tất cả mã giảm giá</h4>
                <h4 class="h4" (click)="showContent('dang-ap-dung')" [ngClass]="{ 'selected': selectedbar === 'dang-ap-dung' }">Đang áp dụng</h4>
                <h4 class="h4" (click)="showContent('da-len-lich')" [ngClass]="{ 'selected': selectedbar === 'da-len-lich' }">Đã lên lịch</h4>
                <h4 class="h4" (click)="showContent('da-het-han')" [ngClass]="{ 'selected': selectedbar === 'da-het-han' }">Đã hết hạn</h4>
            </div>
        </div>
        <div class="container_item">
            <label for="show">Hiển thị: 
                <input style="text-align: center" class="show" id="show" min="1" max="200" name="show" value="1" type="number" onchange="loadJson()">
            </label>
        </div>
        <div class="container_item">
            <button>Thêm điều kiện lọc</button>
            <input type="text" placeholder="Tìm kiếm">
        </div>
        <div class="container_item">
            <div *ngIf="selectedbar === 'tat-ca-ma-giam-gia'">
                <table>
                    <tr>
                        <th>Ngày tạo</th>
                        <th>Mã giảm giá</th>
                        <th>Ưu đãi</th>
                        <th>Trạng thái</th>
                        <th>Chi tiết</th>
                    </tr>
                    <tbody *ngFor="let d of Discount">
                        <td>{{d.createAt}}</td>
                        <td>{{d.code}}</td>
                        <td>{{d.title}}</td>
                        <td>{{d.status}}</td>
                        <td [routerLink]="['/magiamgia',d._id]">></td>
                    </tbody>
                </table>
            </div>
            <div *ngIf="selectedbar === 'dang-ap-dung'">
                <table>
                    <tr>
                        <th>Ngày tạo</th>
                        <th>Mã giảm giá</th>
                        <th>Ưu đãi</th>
                        <th>Trạng thái</th>
                        <th>Chi tiết</th>
                    </tr>
                    <tbody *ngFor="let d of DiscountDangapdung">
                        <td>{{d.createAt}}</td>
                        <td>{{d.code}}</td>
                        <td>{{d.title}}</td>
                        <td>{{d.status}}</td>
                        <td [routerLink]="['/magiamgia',d._id]">></td>
                    </tbody>
                </table>
            </div>

            <div *ngIf="selectedbar === 'da-len-lich'">
                <table>
                    <tr>
                        <th>Ngày tạo</th>
                        <th>Mã giảm giá</th>
                        <th>Ưu đãi</th>
                        <th>Trạng thái</th>
                        <th>Chi tiết</th>
                    </tr>
                    <tbody *ngFor="let d of DiscountDalenlich">
                        <td>{{d.createAt}}</td>
                        <td>{{d.code}}</td>
                        <td>{{d.title}}</td>
                        <td>{{d.status}}</td>
                        <td [routerLink]="['/magiamgia',d._id]">></td>
                    </tbody>
                </table>
            </div>

            <div *ngIf="selectedbar === 'da-het-han'">
                <table>
                    <tr>
                        <th>Ngày tạo</th>
                        <th>Mã giảm giá</th>
                        <th>Ưu đãi</th>
                        <th>Trạng thái</th>
                        <th>Chi tiết</th>
                    </tr>
                    <tbody *ngFor="let d of DiscountDahethan">
                        <td>{{d.createAt}}</td>
                        <td>{{d.code}}</td>
                        <td>{{d.title}}</td>
                        <td>{{d.status}}</td>
                        <td [routerLink]="['/magiamgia',d._id]">></td>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>