div{
    font-family: Inter-Regular;
}

.h1{
    font-weight: bold;
}

.h2{
    font-weight: bold;
}

.h3{
    font-weight: bold;
}

.h4{
    font-weight: bold;
}

h5{
    font-weight: bold;
}

.fullpage {
    /* position: fixed; */
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: #f5f5f5; */
    /* padding: 40px; */
    /* margin-top: 20px; */
    margin: 0;
    margin-top: 150px;
}
.taikhoan_container {
    width: 80vw;
    margin: auto;
    display: flex;
    margin-top: 5%;
    justify-content: flex-start;
    align-items: start;
}
h2 {
    color: var(--color-blue);
}
.bar_container {
    top: 25px;
    width: 15vw;
    margin-right: 20px;
}
.circle_img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--color-darkBlue);
    margin: auto
}
.circle_img img {
    max-width: 100%;
    height: 100%;
    display: block;
}
.taikhoan_item {
    background-color: var(--color-white);
    margin: auto;
    text-align: center;
    width: 100%;
}
.bar_item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
}
.bar_item >h4, .bar_item>p{
    margin: 10px;
    font-weight: bold;

}
#taikhoan_content {
    flex: 1;
    max-width: 750px;
    margin: auto;
    padding: 5px;
}
.hoso_container {
    background-color: var(--color-white);
    border: 1px solid black;
    border-radius: 10px;
    padding: 30px;
    min-height: 50vh;
}
input {
    border: none;
}
.hoso_item {
    display: flex;
    flex-direction: row;
}
.hoso_label {
    min-width: 150px;
}
.hoso_img {
    text-align: center;
    position: relative;
    overflow: hidden;
    display: inline-block;
    /* margin-left: 30vw; */
}
.hoso_img input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 40px;
    opacity: 0;
}
.hoso_item_content {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.hoso_item_row {
    padding: 10px 0px;
    display: flex;
}

.hoso_item_row > label > input{
    margin: 5px;
}

.hoso_item_row > label > select{
    margin: 5px;
    border: 1px solid var(--color-blue);
    border-radius: 5px;
}



.hoso_item_row>input[type="text"]{
    padding-right: 10px;
    width: 45%;
    border-width: 1px;
    border-style: solid;
}
.hoso_item_label {
    min-width: 12vw;
}
#hoso_change {
    color: var(--color-blue);
    cursor: pointer;
    text-decoration: underline;
}
.button {
    background-color: var(--color-blue);
    color: var(--color-white);
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    /* width: 100px; */
    cursor: pointer;
    font-weight: bold;
    margin: 5px 5px;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Màu đen với độ trong suốt 50% */
    /* display: none; */
    z-index: 1;
  }
.popup {
    /* display: none; */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--color-white);
    padding: 40px;
    /* Điều chỉnh kích thước padding */
    border-radius: 20px;
    /* Điều chỉnh kích thước border-radius */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    /* Điều chỉnh kích thước shadow */
    z-index: 2;
}
.popup p {
    font-size: 20px;
    /* Điều chỉnh kích thước font */
    margin-bottom: 20px;
    /* Điều chỉnh khoảng cách giữa các đoạn văn bản */
}
.popup button {
    padding: 10px 20px;
    background-color: var(--color-blue);
    color: var(--color-white);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 1vw;
}
.diachi_container {
    border: 1px solid var(--color-blue);
    border-radius: 10px;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.diachi_item_input{
    border-width: 1px;
    border-style: solid;
}
.diachi_item_button {
    text-align: center;
}
.diachi_item_row {
    display: flex;
}
.diachi_item_label {
    min-width: 12vw;
    font-weight: bold;
}
.diachi_popup_container {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    margin-top: 16px;
}
.diachi_popup_item {
    display: flex;
    flex-direction: row;
}
.diachi_popup_item_detail {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    margin-bottom: 12px;
}
.diachi_popup_label {
    margin-right: 8px;
    font-weight: bold;
    width: 100%;
}
.diachi_popup_input{
    border-width: 1px;
    border-style: solid;
    width: -webkit-fill-available;
}
.voucher_nhapma {
    text-align: center;
}
.voucher_nhapma > span{
    font-weight: bold;
}
.voucher_nhapma > span, .voucher_nhapma > input, .voucher_nhapma > button{
    margin-right: 3vw;
}
.voucher_nhapma > input {
    border: 1px solid var(--color-blue);
    height: 25px;
    border-radius: 10px;
    padding: 15px;
}
.voucher_container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
}
.voucher_item {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin-right: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 250px;
}

.voucher_item > .p{
    font-weight: bold;
}
.expired_date {
    color: var(--color-red);
}
.voucher_item span {
    color: var(--color-blue);
}
.voucher_item #hoso_change{
    float: right;
}
.voucher_item img{
    width: 30%;
}
.donhang_container {
    display: flex;
    justify-content: space-evenly;
}
.donhang_container>p {
    margin: 0 5px;
    cursor: pointer;
}
.donhang_container>p:hover {
    color: var(--color-blue);
}
.donhang_container>p.selected {
    font-weight: bold;
    text-decoration: underline;
}
.donhang_item {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
.donhang_itemdetail{
    width: 90%;
    border: 1px solid var(--color-grey);
    border-radius: 10px;
    padding: 10px 10px;
    margin: 10px auto;
}
.donhang_itemdetail h5{
    margin: 5px;
}
.donhang_itemdetail p{
    margin: 5px;
}
.donhang_itemdetal_row {
    display: flex;
}

.donhang_itemdetal_row img{
    min-width: 100px;
    height: 80px;
    border-radius: 10px;
    margin: 5px 5px;
}

.donhang_itemdetal_row #status{
    color: var(--color-blue);
    font-weight: bold;
    margin-left: 20vw;
    text-transform: uppercase;
}
.donhang_itemdetal_row #totalpayment{
    margin-left: 17vw;
    color: var(--color-blue);
    font-weight: bold;
}
.donhang_itemdetal_row #total{
    margin-left: 13vw;
    
}
.don_item_label{
    min-width: 160px;
}
#newAddress {
    width: 100%;
    height: 80px;
    resize: none;
    /* Prevent textarea from being resizable by the user */
    margin-bottom: 10px;
}
/* PC - Desktop */
@media screen and (max-width: 850px) {
     .donhang_itemdetal_row #status{
        margin-left: 13vw;
    }

    .donhang_itemdetal_row #total{
        margin-left: 0vw;
    }
}
/* Tablet */
@media screen and (max-width: 768px) {
    .circle_img {
        width: 80px;
        height: 80px;
    }
    .taikhoan_item p{
        font-size: 13px;
    }
    .h3{
        font-size: 20px;
    }
    .fullpage{
        margin-top: 100px;
    }

    /* .donhang_itemdetal_row #status{
        margin-left: 21px;
    } */

    .donhang_itemdetal_row #totalpayment{
        margin-left: 18vw;
    }
    .donhang_itemdetal_row #status{
        margin-left: 10vw;
    }

    .donhang_itemdetal_row #total{
        margin-left: 0vw;
    }
}

@media screen and (max-width: 700px){
     .donhang_itemdetal_row #status{
        margin-left: 6vw;
    }

    .donhang_itemdetal_row #total{
        margin-left: 0vw;
    }

    .don_item_label{
        max-width: 100px;
    }
}
/* Mobile */
@media screen and (max-width: 480px) {
    .bar_item{
        flex-direction: row;
        width: 100vw;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .taikhoan_container{
        flex-direction: column;
    }
    .hoso_item{
        flex-direction: column;
    }

    .hoso_container{
        width: 90vw;
        min-width: 350px;
        margin: auto;
    }
    .fullpage {
        /* position: fixed; */
        top: 0px;
        left: 0;
        width: 100%;
        height: 100%;
        /* background-color: #f5f5f5; */
        /* padding: 40px; */
        /* margin-top: 20px; */
    }
    .taikhoan_container{
        width: 100vw;
        margin: auto;
    }
    .hoso_item_row button{
        margin-left: 40.5%;
    }

    #taikhoan_content {
        margin: auto;
    }

    .circle_img{
        display: none;
    }

    .taikhoan_item{
        display: none;
    }

    .don_item_label{
        max-width: 100px;
    }
    .donhang_itemdetal_row img{
        display: none;
    }
}