<!-- admin-account.component.html -->

<link rel="stylesheet" href="../../assets/themify-icons/themify-icons.css">

<div class="container">
    <div class="header">
        <div class="h3 font-bold">Quản lý tài khoản</div>
      </div>
      
      <div class="newadmin">
          <button class="add-button font-bold" (click)="toggleAddAdminPopup()"><p class="p">Thêm admin</p></button>
      </div>

      <!-- Popup -->
      <div *ngIf="isAddAdminPopupVisible" class="popup">
        <div class="popup-content">
          <!-- Nội dung form -->
          <form class="form-addNew">

            <div class="text-name">
              <input type="text" class="form-control" id="form-input" placeholder="Họ và tên" name="name" [(ngModel)]="account.Name" #name="ngModel" required>
            </div>
          
            <div class="text-email">
              <input type="text" class="form-control" id="form-input" placeholder="Email" name="email" [(ngModel)]="account.Mail" #name="ngModel" (blur)="checkMail()" required>
            </div>

            <div class="error-message-mail" *ngIf="!isValidEmail">Email không hợp lệ!</div>

            <div class="text-phone">
              <input type="text" class="form-control" id="form-input" placeholder="Số điện thoại" name="phonenumber" [(ngModel)]="account.phonenumber" #name="ngModel" (blur)="checkPhoneNumber()" required>
            </div>

            <div *ngIf="!isPhoneNumberValid" class="error-message">Số điện thoại không hợp lệ!</div>
          
            <div class="text-pass">
              <input type="password" class="form-control" id="form-input" placeholder="Mật khẩu" name="psw" [(ngModel)]="account.password" #name="ngModel" (blur)="checkPassword()" #passwordInputrequired>
            </div>

            <!-- Các nút để thao tác với form -->
            <div class="btn-group">
              <button type="button" (click)="handleAddAdmin()" class="form-sbm">Thêm Admin</button>
              <button type="button" (click)="toggleAddAdminPopup()" class="form-close">Đóng</button>
            </div>
          </form>
        </div>
      </div>

      <div class="p font-bold">Danh sách admin</div>
      <div class="content">
          <table>
            <thead>
              <tr>
                <th *ngFor="let columnName of customColumnNames">{{ columnName }}</th>
              </tr>
            </thead>
      
            <tbody>
              <tr *ngFor="let user of userData; let i = index">
                <td>{{ i + 1 }}</td>
                <ng-container *ngIf="!isEditing || editedUserId !== user._id; else editMode">
                  <td>{{ user.Name }}</td>
                  <td>{{ user.Mail }}</td>
                  <td>{{ user.phonenumber }}</td>
                </ng-container>
                <ng-template #editMode>
                  <td><input type="text" [(ngModel)]="editedUser.Name"></td>
                  <td><input type="text" [(ngModel)]="editedUser.Mail"></td>
                  <td><input type="text" [(ngModel)]="editedUser.phonenumber"></td>
                </ng-template>
                <td>
                  <span *ngIf="!isEditing || editedUserId !== user._id" class="ti-pencil" (click)="handleEditClick(user._id)"></span>
                  <span *ngIf="isEditing && editedUserId === user._id" class="ti-save" (click)="handleSaveClick()"></span>
                  <span class="ti-trash" (click)="handleDeleteClick(user._id)"></span>
                </td>
              </tr>
            </tbody>
          </table>
      </div>
</div>

