div{
    font-family: Inter-Regular;
}

*{
    margin: 0;
    padding: 0;
}

.container{
    /* margin: 15px; */
    /* margin-left: 180px; */
    padding: 10px;
    width: 95%;
  min-width: 250px;
  margin-top: 15px;

}

.font-bold{
    font-weight: bold;
}

.h3{
    color: var(--color-blue)
}

table{
    width: 100%;
    text-align: left;
    /* line-height: 30px; */
    border-collapse: collapse;
    margin: auto;
}

/* th{
    text-align: center;
} */

th, td {
    border-bottom: 1px solid var(--color-grey);
    padding: 8px;
}

.content{
    margin-top: 30px;
}

span{
    padding-right: 30px;
    color: var(--color-blue);
    cursor: pointer;
}

.newadmin{
    margin-top: 60px;

    display: flex;
    justify-content: flex-end; /* Đặt phần tử ở sát lề phải của body */
    align-items: center; /* Căn giữa theo chiều dọc */
    
}

.newadmin > .add-button{
    color: var(--color-white);
    border: none;
    background-color: var(--color-blue);
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.popup-content {
    background: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 10000;
}

.form-addNew {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-control{
    width: 95%;
    height: 40px;
    border-radius: 5px;
    border: solid var(--color-grey) 1px;
    padding-left: 5%;
}

.btn-group{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.form-sbm{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background-color: var(--color-blue);
    border-radius: 10px;
    color: var(--color-white);
    font-weight: bold;
    border: none;
    margin-top: 10px;
}

.form-close{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border-color: var(--color-blue);
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    color: var(--color-blue);
    font-weight: bold;
    margin-top: 10px;
    background-color: transparent;
}

input, button {
    font-family: Inter-Regular;
    font-size: 16px;
}

@media screen and (max-width: 768px) {
    .container {
      overflow-x: auto; /* Enable horizontal scroll on tablets */
    }

    table{
        width: 400px;
    }
}

  /* Media queries for mobile */
@media screen and (max-width: 480px) {
    .container {
      overflow-x: auto; /* Enable horizontal scroll on mobile devices */
      margin: 20px;
      /* margin-top: 130px; */
      padding: 10px;
    }
}