/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: Inter-Regular;
    src: url('./assets/font/Inter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Thêm font chữ Inter */

/* ------------Màu chữ, màu box ----------*/

:root {
    --color-blue: #31B9F4; /* Màu chữ xanh nhạt, màu background cho footer */
    --color-darkBlue: #3771C8; /* Màu chữ xanh đậm */
    --color-red: red; /* Màu chữ đỏ, deadline của voucher ở trang Tài khoản - Kho voucher */
    --color-grey: grey; /* Màu chữ xám, của các ô cần nhập nội dung */
    --color-lightblue: #DDF5FF; /* Màu nền xanh nhạt ở trang Về thương hiệu, chi tiết sản phẩm */
    --color-lastfooter: #08A3E6; /* Box màu xanh đậm cho footer */
    --color-white: white;
}

/* .txt--blueColor{
    color: #31B9F4
} */
/* Màu chữ xanh nhạt */

/* .txt--darkBlueColor{
    color: #3771C8;
} */
/* Màu chữ xanh đậm */

/* .txt--warning{
    color: red;
} */
/* Màu chữ đỏ, deadline của voucher ở trang Tài khoản - Kho voucher */

/* .txt--grey{
    color: grey;
} */
/* Màu chữ xám, của các ô cần nhập nội dung */

/* .box--lightBlueColor{
    background-color: #DDF5FF;
} */
/* Màu nền xanh nhạt ở trang Về thương hiệu, chi tiết sản phẩm */

/* .box--footer{
    background-color: #31B9F4;
} */
/* Box màu xanh nhạt cho footer */

/* .box--last--footer{
    background-color: #08A3E6;
} */
/* Box màu xanh đậm cho footer */

/* ------------ Font size ----------*/

.h1{
    font-size: 48px !important;
}

.h2{
    font-size: 28px !important;
}

.h3{
    font-size: 24px !important;
}

.h4{
    font-size: 20px !important; 
}

.p{
    font-size: 16px !important;
}

.minitext{
    font-size: 13px !important;
}

/* ------------ Khung text area, button ---------- */

.box-textarea{
    border-color: var(--color-grey);
}
/* Phần có thể gõ chữ vào: ví dụ nhập email, nhập thông tin ở trang profile */

.box-otp--box{
    background-color: var(--color-grey);
    border-radius: 10px;
    color: var(--color-white);
}
/* Box ở phần nhập OTP code */

.box-product{
    background-color: var(--color-lightblue);
    border-radius: 10px;
    border-color: var(--color-blue);
    border-width: 1px;
    width: 300px;
    height: 390px;
}
/* Box chứa sản phẩm ở trang sản phẩm */


.btn-active,
.btn:active{
    background-color: var(--color-blue);
    border-radius: 10px;
    color: var(--color-white)
}
/* Button khi đã chọn*/

.btn-disabled,
.btn:disabled{
    background-color: var(--color-white);
    border-color: var(--color-blue);
    border-radius: 10px
}
/* Button khi chưa chọn */

/* ------------ Dropdown menu / ul, li ---------- */

/* ul, li{
    text-decoration: none;
    list-style: none;
} */
/* Phần xổ xuống có sử dụng ul, li */

/* ------------ Line ---------- */

.line--blue{
    color: var(--color-blue);
    stroke-width: 1px;
}
/* Đường kẻ màu xanh */

.line--grey{
    color: var(--color-grey);
    stroke-width: 1px;
}
/* Đường kẻ màu xám */

/* -------------Link-------------- */
a{
    text-decoration: none;
}

.chat-box{
    display: flex;
    justify-content: flex-end; /* Đặt phần tử ở sát lề phải của body */
    align-items: center; /* Căn giữa theo chiều dọc */
}

.messenger{
    position: fixed; /* Đặt vị trí cố định */
    top: 95%; /* Đặt ở giữa theo chiều dọc */
    right: 20px; /* Khoảng cách từ lề phải */
    transform: translateY(-70%); /* Để căn giữa chính xác theo chiều dọc */
    z-index: 999; /* Đảm bảo nó đè lên các phần tử khác */
    width: 45px;
    height: 45px;
}

.messenger:hover{
    width: 55px;
    height: 55px
}

/* ============Responsive============ */
/* Tablet */
@media screen and (max-width:768px){
    .h1{
        font-size: 46px  !important;
    }
    
    .h2{
        font-size: 26px !important;
    }
    
    .h3{
        font-size: 22px !important;
    }
    
    .h4{
        font-size: 18px !important;
    }
    

}

/* Mobile */
@media screen and (max-width:480px){
    .h1{
        font-size: 44px !important;
    }
    
    .h2{
        font-size: 24px !important;
    }
    
    .h3{
        font-size: 20px !important;
    }
    
    .h4{
        font-size: 16px !important;
    }
    
    
}



