div{
    font-family: Inter-Regular;
}



.h2{
    font-weight: bold;
}



.h4{
    font-weight: bold;
}

.tieude {
    text-align: center;
    margin-top: 100px;
}

.tieude h1 {
    color: var(--color-blue);
}

.tieude h2 {
    color: black;
    margin-top: -12px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    max-width: 80vw;
    margin: auto;
    /* max-height: 50vh; */
    justify-content: center;
    align-items: start;
    /* Cho phép container chia đều không gian với sidebar */
}

h2 {
    color: var(--color-blue);
}

.sidebar {
    min-width: 19vw;
    max-width: 24vw;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border: 1.5px solid var(--color-blue);
    border-radius: 15px;
    text-align: center;
    min-height: 100%;
    /* Hiển thị các mục theo chiều dọc */
    margin-top: 40px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    transition: background-color 0.3s;
}

.sidebar li:hover {
    color: var(--color-blue);
}

.sidebar li.selected {
    font-weight: bold;
  }

.sidebar li.active {
    font-weight: bold;
}

#content {
    flex: 1;
    padding: 20px;
    margin: auto;
    margin-top: 15px;
}





/* .question_container {
    max-width: 600px;
    margin: 50px auto;
    flex: 1;
    padding: 20px;
} */

.qa-section {
    border-top: 1px solid var(--color-blue);
    width: 80%;
    margin: auto;
}

.question {
    border-bottom: 1px solid var(--color-blue);
    border-top: 1px solid var(--color-blue);
    padding: 10px;
    transition: max-height 0.5s ease;
}

.question-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question-header a{
    font-size: 16px;
}

.toggleBtn {
    color: #31B9F4;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.toggleBtn.active a {
    transform: rotate(180deg);
}

/* PC - Desktop */
@media screen and (max-width: 1200px) {
    
}
/* Tablet */
@media screen and (max-width: 768px) {
    .sidebar{
        max-width: 28vw;
    }
}
/* Mobile */
@media screen and (max-width: 480px) {
    .sidebar{
        flex-direction: column;
        min-width: 60vw;
    }
    .container{
        flex-direction: row;
    }

    #content{
        padding: 5px;
    }
}

