<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./sign-up.component.css">
</head>
<body>
    <div class="container">
        <div class="content">
            <div class="box-container">
                <p class="h2 font-bold">Đăng ký</p>
                <form>
                    <div class="text-name">
                      <input type="text" class="form-control" id="form-input" placeholder="Họ và tên" name="name" [(ngModel)]="account.Name" #name="ngModel" required>
                    </div>
                  
                    <div class="text-email">
                      <input type="text" class="form-control" id="form-input" placeholder="Email" name="email" [(ngModel)]="account.Mail" #name="ngModel" (blur)="checkMail()">
                    </div>

                    <div class="error-message-mail" *ngIf="!isValidEmail">Email không hợp lệ!</div>

                    <div class="text-phone">
                      <input type="text" class="form-control" id="form-input" placeholder="Số điện thoại" name="phonenumber" [(ngModel)]="account.phonenumber" #name="ngModel" (blur)="checkPhoneNumber()" required>
                    </div>

                    <div *ngIf="!isPhoneNumberValid" class="error-message">Số điện thoại không hợp lệ!</div>
                  
                    <div class="text-pass">
                      <input type="password" class="form-control" id="form-input" placeholder="Mật khẩu" name="psw" [(ngModel)]="account.password" #name="ngModel" (blur)="checkPassword()" #passwordInputrequired>
                    </div>
                  
                    <div class="btn-sigup">
                      <input type="submit" value="Đăng Ký" id="submit-sign" class="form-sbm" name="btn-sigup" (click)="postAccount()">
                    </div>
                  
                    <div class="has-account">
                      Bạn đã có tài khoản? <a href="javascript:void(0)" class="p" (click)="navigateToLogin()">Đăng nhập</a>
                    </div>
                  </form>
            </div>
        </div>
    </div>
</body>
</html>