<div class="container text-center">
  <div class="content">
    <div class="header">
      <div class="h2 font-bold">Chúng tôi có tùy chỉnh sản phẩm</div>
      <div class="h3">Nếu bạn muốn thay đổi hình thức của sản phẩm hiện có tại R3cy, hãy liên hệ với R3cy tại đây.</div>
    </div>
    <form enctype="multipart/form-data">
      <!-- Nhập họ tên -->
      <div class="text-fname">
        <input type="text" class="form-control" id="form-input" placeholder="Họ và tên" name="name" [(ngModel)]="custom.Name" #name="ngModel" required>
      </div>

      <!-- Nhập email-->
      <div class="text-email">
        <input type="text" class="form-control" id="form-input" placeholder="Email" name="email" [(ngModel)]="custom.Mail" #name="ngModel" (blur)="checkMail()" required>
      </div>
      <div class="error-message-mail" *ngIf="!isValidEmail">Email không hợp lệ!</div>

      <!-- Nhập số điện thoại-->
      <div class="text-phone">
        <input type="text" class="form-control" id="form-input" placeholder="Số điện thoại" name="phonenumber" [(ngModel)]="custom.phonenumber" #name="ngModel" (blur)="checkPhoneNumber()" required>
      </div>
      <div *ngIf="!isPhoneNumberValid" class="error-message">Số điện thoại không hợp lệ!</div>

      <!-- Nhập tên sản phẩm-->
      <div class="text-pname">
        <input type="text" class="form-control" id="form-input" placeholder="Tên sản phẩm" name="pname" [(ngModel)]="custom.pname" #name="ngModel" required>
      </div>

      <!-- Nhập mô tả -->
      <div class="text-pdes">
        <input type="text" class="form-control" id="form-input" placeholder="Mô tả sản phẩm" name="pdes" [(ngModel)]="custom.pdes" #name="ngModel" required>
      </div>

      <!-- Up file -->
      <div class="up-file">
        <input type="file" id="fileInput" name="pfile" [(ngModel)]="custom.pfile"
        (change)="onFileSelected($event,custom)" required>
      </div>

      <!-- Button gửi -->
      <div div class="btn-custom">
        <button type="submit" class="form-sbm" name="btn-custom" (click)="postCustom()" >Gửi</button>
      </div>
    </form>
  </div>
</div>
