<link rel="stylesheet" href="../../assets/themify-icons/themify-icons.css">

<div class="main">
    <h2>ĐÁNH GIÁ SẢN PHẨM</h2>
    <div class="productcontainer">
        <div class="product-info" *ngIf="order">
            <div class="img">
                <img [src]='' alt="">
            </div>
            <h2>Đánh giá đơn hàng {{ order.ordernumber }}</h2>
            <div *ngFor="let product of order.products" class="info">
                <h4>{{ product.name }}</h4>
                <span><img [src]="product.img1"></span>
                <p>Giá: {{ product.price | currency:'VND' }}.000
                    <br> Số lượng: {{ product.quantity }}
                </p>
                <!-- <div class="rate">
                    <div class="header">
                        <h4>Chất lượng sản phẩm và dịch vụ người bán: &nbsp;</h4>
                    </div>

                    <div class="star">
                        <div class="ti-star" id="1" color="black" selected="false"></div>
                        <div class="ti-star" id="2" color="black" selected="false"></div>
                        <div class="ti-star" id="3" color="black" selected="false"></div>
                        <div class="ti-star" id="4" color="black" selected="false"></div>
                        <div class="ti-star" id="5" color="black" selected="false"></div>
                    </div>
                </div> -->

                <div class="type-review">
                    <h4>Đánh giá sản phẩm</h4>
                    <!-- Assuming product.id is unique for each product -->
                    <textarea name="review" id="review" cols="165" rows="10" [(ngModel)]="feedbacks[product.id]"
                        placeholder="Hãy chia sẻ những điều bạn thích về sản phẩm này với những người mua khác nhé..."></textarea>

                </div>

                <div class="button">
                    <button class="huy" routerLink="/trangtaikhoan/danhgia_content"
                        routerLinkActive="active">Hủy</button>
                    <!-- Add a separate "Save Feedback" button for each product -->
                    <button class="gui" (click)="saveFeedback(product.id)">Gửi</button>
                </div>
            </div>

        </div>
    </div>

</div>