div {
    font-family: Inter-Regular;
}

.containerAll {
    width: 80vw;
    height: 100vh;
    background-color: var(--color-white);
    color: var(--color-blue);
    box-sizing: border-box;
    /* margin-left: 300px; */
    margin-top: 20px;

}
.bestSellingProductquantity td{
    vertical-align: middle;
}
.bestSellingProductquantity p{
    font-size: larger;
    font-weight: bold;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border-bottom: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
tr {
    border: 1px solid white;
}

.btn {
    padding: 4px 8px;
    margin-right: 10px;
    background-color: var(--color-lightblue);
    border: 0.5px solid var(--color-blue);
    border-radius: 5px;
}

.containerTop {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.containerLeft,
.containerRight {
    /* flex: 1;  */
    /* Sử dụng flex để tự động chiếm phần còn lại */
    border: 1px solid #7B7F80;
    border-radius: 5px;
    width: 70vw;
}

.containerLeft {
    padding: 10px;
}

.containerRight {
    padding: 10px;
}

.containerBottom {
    width: 70vw;
    border: 1px solid #7B7F80;
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px;
    /* box-sizing: border-box; */
}

.dongtittle {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Duy trì khoảng cách đều */
    align-items: flex-end;
}
.viewDetail {
    font-size: 13px;
    font-style: italic;
    text-decoration: underline;
}
@media screen  and (max-width: 480px){
    
    .containerTop {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
      }
    
      .containerLeft,
      .containerRight {
        width: 100%;
        margin-right: 0;
      }
      .containerLeft,
        .containerRight,
        .containerBottom {
            box-sizing: border-box;
        }
    
      .containerRight {
        margin-top: 10px;
      }
      .containerAll{
        /* margin-top: 130px; */
        margin-left: 20px;
      }
}
