<!-- app.component.html -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
<div class="container">
    <div class="sidebar">
        <ul>          
            <h2 class="h2">DANH MỤC TRANG</h2>
            <hr> 
                      
            <li class="h3" (click)="showContent('chinh-sach-ban-hang')"
                [ngClass]="{ 'selected': selectedContent === 'chinh-sach-ban-hang' }">CHÍNH SÁCH BÁN HÀNG</li>
            <li class="h3" (click)="showContent('chinh-sach-bao-mat')"
                [ngClass]="{ 'selected': selectedContent === 'chinh-sach-bao-mat' }">CHÍNH SÁCH BẢO MẬT</li>
            <li class="h3" (click)="showContent('dieu-khoan-dich-vu')"
                [ngClass]="{ 'selected': selectedContent === 'dieu-khoan-dich-vu' }">ĐIỀU KHOẢN DỊCH VỤ</li>
            <li class="h3" (click)="showContent('dieu-khoan-doi-tra')"
                [ngClass]="{ 'selected': selectedContent === 'dieu-khoan-doi-tra' }">ĐIỀU KHOẢN ĐỔI TRẢ</li>
        </ul>
    </div>
    <div class="content">
        <div *ngIf="selectedContent === 'chinh-sach-ban-hang'">
            <h2 class="h2">CHÍNH SÁCH BÁN HÀNG</h2>
            <ol>
                <li class="p">
                    <h4 class="h4">Giá cả:</h4>
                    Giá sản phẩm niêm yết trên website là giá đã bao gồm thuế theo quy định pháp luật hiện hành, phí
                    đóng gói và các chi phí khác liên quan đến việc mua hàng trừ các chi phí phát sinh khác được xác
                    nhận qua Hotline hoặc Email của R3cy và được sự chấp thuận của khách hàng trong quá trình xác
                    nhận đơn đặt hàng, giao nhận hàng hoá.
                </li>
                <li>
                    <h4 class="h4">Phí vận chuyển:</h4>
                    <ul>
                        <li class="p">Với hóa đơn từ 500.000 VNĐ: miễn phí vận chuyển toàn quốc.</li>
                        <li class="p">Với hóa đơn dưới 500.000 VNĐ: phí vận chuyển mặc định là 30.000 VNĐ áp dụng toàn quốc.
                        </li>
                    </ul>
                </li>
                <li>
                    <h4 class="h4">Thời gian giao hàng:</h4>
                    <ul>
                        <li class="p">Khu vực TP.HCM: thời gian giao nhận hàng từ 1 – 3 ngày làm việc</li>
                        <li class="p">Khu vực các tỉnh thành miền Nam: thời gian giao nhận hàng từ 2 – 4 ngày làm việc</li>
                        <li class="p">Khu vực các tỉnh thành miền Trung, miền Bắc: thời gian giao nhận hàng từ 3 – 5 ngày làm
                            việc.</li>
                    </ul>
                </li>
                <li>
                    <h4 class="h4">Quy trình giao nhận sản phẩm:</h4>
                    <ul>
                        <li class="p">R3cy sẽ giao hàng tận nơi trên toàn quốc, áp dụng cho khách mua hàng trên Website,
                            Fanpage và gọi điện thoại vào Hotline của R3cy. Đơn hàng sẽ được chuyển phát đến địa chỉ
                            khách hàng cung cấp thông qua đơn vị vận chuyển trung gian là GIAO HÀNG TIẾT KIỆM hoặc
                            247EXPRESS.</li>
                        <li class="p">Trong quá trình giao nhận hàng, nếu quý khách không có mặt trong đợt nhận hàng thì đơn
                            vị vận chuyển sẽ liên lạc lại với quý khách để hẹn thời gian giao lại hàng (đối đa 2 lần
                            hẹn). Sau 2 lần hẹn giao lại nhưng vẫn không giao thành công thì đơn vị vận chuyển sẽ
                            hoàn hàng về cho R3cy và chúng tôi sẽ hoàn trả các chi phí mà bạn đã thanh toán trong
                            vòng 15 ngày làm việc.</li>
                        <li class="p">Trường hợp việc giao và nhận hàng không thành công do không thể liên lạc được với quý
                            khách trong vòng 3 ngày, đơn vị vận chuyển sẽ hoàn hàng về lại cho R3cy và chúng tôi sẽ
                            thông báo đến bạn qua thông tin liên lạc mà bạn đã cung cấp về việc hủy đơn hàng đồng
                            thời hoàn trả các chi phí mà bạn đã thanh toán trong vòng 15 ngày làm việc.</li>
                    </ul>
                </li>
            </ol>
        </div>
        <div *ngIf="selectedContent === 'chinh-sach-bao-mat'">
            <h2 class="h2">CHÍNH SÁCH BẢO MẬT</h2>
            <ol>
                <li class="p">
                    <h4 class="h4">Mục đích và phạm vi thu thập thông tin:</h4>
                    R3cy thu thập thông tin cá nhân của khách hàng trên website nhằm mục đích:
                    <ul>
                        <li class="p">Cung cấp sản phẩm theo đơn đặt hàng của khách hàng;
                        </li>
                        <li class="p">Liên hệ, xác nhận thông tin đơn đặt hàng và vận chuyển sản phẩm đến khách hàng;
                        </li>
                        <li class="p">Liên lạc, hỗ trợ khách hàng trong các trường hợp khách hàng khiếu nại, đổi trả hoặc
                            bảo hành sản phẩm;
                        </li>
                        <li class="p">Trả lời câu hỏi hoặc gửi tài liệu và thông tin theo yêu cầu của khách hàng;
                        </li>
                        <li class="p">Gửi đến khách hàng những thông tin khuyến mãi, ưu đãi, tri ân.
                        </li>
                    </ul>
                    Ngoài ra, R3cy cũng thu thập thông tin cá nhân của khách hàng để phục vụ cho mục tiêu bảo vệ
                    môi trường, cụ thể là để khảo sát ý kiến khách hàng về các sản phẩm tái chế của R3cy.
                </li>
                <li>
                    <h4 class="h4">Phạm vi sử dụng thông tin:</h4>
                    R3cy chỉ sử dụng thông tin cá nhân của khách hàng cho các mục đích đã thông báo và được sự
                    đồng ý của khách hàng.
                    <ul>
                        <li class="p">Đối với thông tin cá nhân thu thập cho mục đích cung cấp sản phẩm, R3cy sẽ sử dụng
                            thông tin này để thực hiện các giao dịch mua bán, thanh toán, giao hàng, hỗ trợ
                            khách hàng,...
                        </li>
                        <li class="p">Đối với thông tin cá nhân thu thập cho mục đích bảo vệ môi trường, R3cy sẽ sử dụng
                            thông tin này để khảo sát ý kiến khách hàng về các sản phẩm tái chế của R3cy, nhằm
                            cải thiện chất lượng sản phẩm và dịch vụ của R3cy.
                        </li>
                    </ul>
                </li>
                <li class="p">
                    <h4 class="h4">Thời gian lưu trữ thông tin:</h4>
                    Thông tin cá nhân của khách hàng sẽ được R3cy lưu trữ trên hệ thống máy chủ của R3cy cho đến
                    khi có yêu cầu hủy bỏ từ chính khách hàng hoặc các trường hợp khác theo quy định của chính
                    sách này hoặc theo quy định của pháp luật.
                </li>
                <li class="p">
                    <h4 class="h4">Những người hoặc tổ chức có thể được tiếp cận với thông tin:</h4>
                    Thông tin cá nhân của khách hàng có thể bị tiết lộ trong những trường hợp sau:
                    <ul>
                        <li class="p">Để vận chuyển hàng hóa đến khách hàng và/hoặc xử lý các vấn đề phát sinh liên quan
                            đến đơn đặt hàng.
                        </li>
                        <li class="p">Thực hiện các nghĩa vụ cung cấp thông tin cá nhân theo yêu cầu của cơ quan Nhà nước
                            có thẩm quyền hoặc theo quy định của pháp luật.
                        </li>
                        <li class="p">Để bảo vệ R3cy và các bên thứ ba khác: R3cy chỉ đưa ra thông tin tài khoản và những
                            thông tin cá nhân khác khi tin chắc rằng việc đưa những thông tin đó là phù hợp với
                            luật pháp, bảo vệ quyền lợi, tài sản của khách hàng và các bên thứ ba khác.
                        </li>
                    </ul>
                    Ngoài những trường hợp được tiết lộ thông tin nêu trên, R3cy sẽ không cung cấp thông tin cá
                    nhân của khách hàng cho một bên thứ ba mà không được sự cho phép của khách hàng.
                </li>
                <li>
                    <h4 class="h4">Địa chỉ của đơn vị thu thập và quản lý thông tin:</h4>
                    R3cy có trụ sở chính tại địa chỉ: Số 669 QL 1, KP. 3, P. Linh Xuân, TP. Thủ Đức, TP. Hồ Chí
                    Minh
                    <ul>
                        <li class="p">Email: infor3cy.com</li>
                        <li class="p">Thực hiện các nghĩa vụ cung cấp thông tin cá nhân theo yêu cầu của cơ quan Nhà nước
                            có thẩm quyền hoặc theo quy định của pháp luật.
                        </li>
                        <li class="p">Số điện thoại: 0123-456-789
                        </li>
                    </ul>
                </li>
                <li class="p">
                    <h4 class="h4">Phương thức và công cụ tiếp cận và chỉnh sửa dữ liệu cá nhân:</h4>
                    Khách hàng có thể tiếp cận và chỉnh sửa dữ liệu cá nhân của mình đã cung cấp cho R3cy bằng
                    cách liên hệ với R3cy theo thông tin liên hệ tại Mục 5 Chính sách này.
                </li>
                <li class="p">
                    <h4 class="h4">Cơ chế tiếp nhận và giải quyết khiếu nại của khách hàng:</h4>
                    Các khiếu nại từ khách hàng về việc thông tin cá nhân bị sử dụng sai mục đích hoặc phạm vi
                    đã thông báo sẽ được R3cy tiếp nhận thông qua các phương thức liên lạc tại Mục 5 Chính sách
                    này. R3cy sẽ cử nhân sự có liên quan giải quyết khiếu nại của khách hàng trong thời hạn 10
                    ngày làm việc kể từ thời điểm R3cy nhận được khiếu nại.
                </li>
                <li class="p">
                    <h4 class="h4">Cam kết bảo mật thông tin cá nhân của khách hàng:</h4>
                    R3cy cam kết bảo mật thông tin cá nhân của khách hàng theo đúng quy định của pháp luật Việt
                    Nam. R3cy
                </li>
            </ol>
        </div>
        <div *ngIf="selectedContent === 'dieu-khoan-dich-vu'">
            <h2 class="h2">ĐIỀU KHOẢN DỊCH VỤ</h2>
            <ol>
                <li>
                    <h4 class="h4">Quy định chung:</h4>
                    <ul>
                        <li class="p">R3cy có thể thay đổi, chỉnh sửa, thêm hoặc lược bỏ bất kỳ phần nào trong Chính sách bán hàng
                            này vào bất cứ lúc nào. Các thay đổi này sẽ có hiệu lực ngay khi đăng tải trên website của
                            R3cy.
                        </li>
                        <li class="p">R3cy không chịu trách nhiệm về chất lượng đường truyền Internet ảnh hưởng đến tốc độ truy
                            cập của bạn vào website của R3cy.
                        </li>
                        <li class="p">Khách hàng phải đảm bảo đủ 18 tuổi, hoặc truy cập dưới sự giám sát của cha mẹ hay người giám
                            hộ hợp pháp. Khách hàng đảm bảo có đầy đủ hành vi dân sự để thực hiện các giao dịch mua bán
                            hàng hóa theo quy định của pháp luật.
                        </li>
                        <li class="p">Khách hàng truy cập website của R3cy phải có trách nhiệm bảo mật về mật khẩu, tài khoản và
                            hoạt động của mình trên website. Đặc biệt, quý khách phải thông báo cho R3cy lập tức khi tài
                            khoản bị truy cập trái phép.
                        </li>
                        <li class="p">Nếu phát hiện bất kỳ thông tin giả mạo nào từ tài khoản của bạn trên website, R3cy sẽ khóa
                            tài khoản của bạn ngay lập tức và/hoặc áp dụng các biện pháp khác theo quy định của pháp
                            luật.
                        </li>
                    </ul>
                </li>
                <li>
                    <h4 class="h4">Trách nhiệm của các bên khi tham gia giao dịch:</h4>
                    <ul>
                        <li class="p">Khách hàng
                            <ul>
                                <li class="p">Khách hàng có trách nhiệm đọc các quy định, chính sách được công bố tại website của
                                    R3cy và cung cấp thông tin đầy đủ, chính xác khi tham gia giao dịch tại website của
                                    R3cy. Trong trường hợp khách hàng nhập sai thông tin, R3cy có quyền từ chối thực
                                    hiện giao dịch.
                                </li>
                                <li class="p">Khách hàng cam kết nhận hàng theo đơn đã đặt hoặc thông báo kịp thời cho R3cy để xử
                                    lý các vấn đề liên quan đến đơn hàng đã đặt.
                                </li>
                                <li class="p">Khách hàng cung cấp mã đơn hàng hoặc xác nhận đơn hàng hoặc hóa đơn mua hàng và
                                    video mở hàng để khiếu nại về sản phẩm do R3cy cung cấp.
                                </li>
                            </ul>
                        </li>
                        <li class="p">R3cy
                            <ul>
                                <li class="p">R3cy có trách nhiệm gửi xác nhận liên quan đến đơn đặt hàng của khách hàng qua email
                                    hoặc/và số điện thoại cho khách hàng và hỗ trợ khách hàng kịp thời nhất.
                                </li>
                                <li class="p">R3cy đảm bảo giao đúng số lượng, chất lượng sản phẩm theo đơn đặt hàng của quý
                                    khách. Trường hợp do lỗi của R3cy, của nhà sản xuất hoặc do lỗi của đơn vị vận
                                    chuyển, R3cy sẽ gửi bổ sung hoặc đổi trả, giải quyết kịp thời cho bạn theo quy định.
                                </li>
                                <li class="p">R3cy có trách nhiệm thực hiện mọi biện pháp để bảo mật thông tin cá nhân của khách
                                    hàng, sử dụng dữ liệu thông tin khách hàng đúng mục đích cho phép và theo quy định
                                    của pháp luật.
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <h4 class="h4">Giải quyết tranh chấp:</h4>
                    Bất kỳ tranh cãi, khiếu nại hoặc tranh chấp phát sinh từ hoặc liên quan đến giao dịch tại website
                    của R3cy đều được ưu tiên giải quyết bằng hình thức thương lượng, hòa giải. Trường hợp không giải
                    quyết được thì có thể giải quyết tại trọng tài và/hoặc Tòa án theo quy định pháp luật Việt Nam hiện
                    hành.
                </li>
                <li>
                    <h4 class="h4">Luật áp dụng:</h4>
                    Tất cả các điều khoản, điều kiện và hợp đồng, giao dịch được thực hiện tại website của R3cy hoặc có
                    liên quan sẽ bị chi phối, giải quyết và được hiểu theo luật pháp của Việt Nam.
                </li>
            </ol>
        </div>
        <div *ngIf="selectedContent === 'dieu-khoan-doi-tra'">
            <h2 class="h2">ĐIỀU KHOẢN ĐỔI TRẢ</h2>
            <ol>
                <li>
                    <h4 class="h4">Điều kiện đổi trả:</h4>
                    Để được đổi trả sản phẩm, khách hàng cần đáp ứng các điều kiện sau:
                    <ul>
                        <li class="p">Sản phẩm được mua nguyên giá, không nằm trong chương trình khuyến mãi.
                        </li>
                        <li class="p">Sản phẩm còn nguyên nhãn mác, hóa đơn mua hàng, không bị hư hỏng bởi tác nhân bên ngoài.
                        </li>
                        <li class="p">Đối với balo: Sản phẩm bị lỗi do nhà sản xuất (lỗi chỉ, dây kéo, móc khoá, bể tem nhựa, tróc
                            in) và khách hàng không có nhu cầu đổi sang sản phẩm mới.
                        </li>
                        <li class="p">Mỗi khách hàng chỉ được đổi trả sản phẩm 01 lần/hoá đơn.
                        </li>
                    </ul>
                    Cách thức đổi trả:
                    <ul>
                        <li class="p">Đối với khách hàng mua tại cửa hàng: Vui lòng mang sản phẩm và hóa đơn đến cửa hàng R3cy mà
                            quý khách đã mua hàng để được hỗ trợ và đổi trả.
                        </li>
                        <li class="p">Đối với khách hàng mua hàng online: Vui lòng đóng gói sản phẩm và gửi sản phẩm về địa chỉ
                            sau:
                            <ul>
                                <li class="p">Địa chỉ: Số 669 QL 1, KP. 3, P. Linh Xuân,
                                    ./ TP. Thủ Đức, TP. Hồ Chí Minh</li>
                                <li class="p">Người nhận: R3cy - Số điện thoại: 0123-456-789
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <h4 class="h4">Phí vận chuyển:</h4>
                    <ul>
                        <li class="p">Với hóa đơn từ 500.000 VNĐ: miễn phí vận chuyển toàn quốc.</li>
                        <li class="p">Với hóa đơn dưới 500.000 VNĐ: phí vận chuyển mặc định là 30.000 VNĐ áp dụng toàn quốc.
                        </li>
                    </ul>
                </li>
                <li>
                    <h4 class="h4">Thời gian giao hàng:</h4>
                    <ul>
                        <li class="p">Khu vực TP.HCM: thời gian giao nhận hàng từ 1 – 3 ngày làm việc</li>
                        <li class="p">Khu vực các tỉnh thành miền Nam: thời gian giao nhận hàng từ 2 – 4 ngày làm việc</li>
                        <li class="p">Khu vực các tỉnh thành miền Trung, miền Bắc: thời gian giao nhận hàng từ 3 – 5 ngày làm
                            việc.</li>
                    </ul>
                </li>
                <li>
                    <h4 class="h4">Quy trình giao nhận sản phẩm:</h4>
                    <ul>
                        <li class="p">R3cy sẽ giao hàng tận nơi trên toàn quốc, áp dụng cho khách mua hàng trên Website,
                            Fanpage và gọi điện thoại vào Hotline của R3cy. Đơn hàng sẽ được chuyển phát đến địa chỉ
                            khách hàng cung cấp thông qua đơn vị vận chuyển trung gian là GIAO HÀNG TIẾT KIỆM hoặc
                            247EXPRESS.</li>
                        <li class="p">Trong quá trình giao nhận hàng, nếu quý khách không có mặt trong đợt nhận hàng thì đơn
                            vị vận chuyển sẽ liên lạc lại với quý khách để hẹn thời gian giao lại hàng (đối đa 2 lần
                            hẹn). Sau 2 lần hẹn giao lại nhưng vẫn không giao thành công thì đơn vị vận chuyển sẽ
                            hoàn hàng về cho R3cy và chúng tôi sẽ hoàn trả các chi phí mà bạn đã thanh toán trong
                            vòng 15 ngày làm việc.</li>
                        <li class="p">Trường hợp việc giao và nhận hàng không thành công do không thể liên lạc được với quý
                            khách trong vòng 3 ngày, đơn vị vận chuyển sẽ hoàn hàng về lại cho R3cy và chúng tôi sẽ
                            thông báo đến bạn qua thông tin liên lạc mà bạn đã cung cấp về việc hủy đơn hàng đồng
                            thời hoàn trả các chi phí mà bạn đã thanh toán trong vòng 15 ngày làm việc.</li>
                    </ul>
                </li>
            </ol>
        </div>
    </div>
</div>