@import '../../../node_modules/font-awesome/css/font-awesome.css';
div {
    font-family: Inter-Regular;
    margin-top: 50px;
}

.containerAll {
    width: 90%;
    margin: auto; /* Center the container */
    /* margin-left: 290px; */
}

.containerContent {
    display: flex;
}
.custom-angular-editor {
    text-align: justify;
  }

  angular-editor {
    position: relative;
    z-index: 999; /* Đặt z-index thấp hơn z-index của phần tử có position: fixed */
  }

.Left {
    flex: 1; /* Left takes up all available space */
}

.titleBlog {
    border: none;
    border-bottom: 1px solid var(--color-blue); /* Only border top */
    width: 100%; /* Take up full width */
    margin-bottom: 20px;
}

.circle_img {
    width: 166px;
    height: 125px;
    overflow: hidden;
    background-color: var(--color-darkBlue);
    margin: auto;
}

.Right {
    margin-left: 20px; /* Margin left 20px */
}

#file-upload-button{
    cursor: pointer;
}

.circle_img img {
    max-width: 100%;
    height: 100%;
    display: block;
}
#content {
    border: 1px solid var(--color-blue);
    width:600px; /* Take up full width */
    height: 600px; /* Đặt chiều cao của textarea là 200px hoặc giá trị mong muốn */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}
.btn{
    background-color:var(--color-blue) ;
    color: white;
    padding: 8px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.Button{
    text-align: center;
}

@media screen and (max-width: 480px){
    .containerAll{
    
        margin-left: 14.5vw;
        /* margin-top: 130px; */
    }

    .containerContent{
        flex-direction: column;
    }
}